/*Style page cn
@author Jan Salva*/

/*Header row*/
.menu-bar
{
	padding: 0px;
	background-color: #ffffff;
}

.menu-bar-one
{
	padding-top: 20px;
	padding-bottom: 10px;
}

.menu-bar-one-xs
{
	height: 100px;
	text-align: center;
	margin-top: 70px;
	padding: 30px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.menu-button-xs
{
	margin: 10px;
}

.menu-button-xs > span
{
	font-size: 30px;
}

.info-panel
{
	font-size: 10px;
	padding-bottom: 10px;
	word-spacing: 20px;
}

.logo-bar
{
	width: 225px;
	height: 100px;
	position: absolute;
	top: -10px;
	left: 10%;
	background-color: #ffffff;
	z-index: 10;
}

.logo-bar-xs
{
	width: 225px;
	height: 100px;
	position: absolute;
	background-color: #ffffff;
	z-index: 10;
}

.search-icon
{
	top: 0px;
}

.search-box
{
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.search-box > div
{
	width: 100%;
}

.form-input
{
	width: 100%;
}

.social-network
{
	margin-top: 25px;
}

.social-network-xs
{
	padding: 20px;
	text-align: center;
}

.social-network > a
{
	padding-left: 3px;
}

.slide
{
	padding: 0px;
}

.slide-indicator
{
	bottom: 90px;
	z-index: 10
}

.carousel-text
{
	width: 130px;
	top: 10%;
	bottom: 30%;
	left: 70%;
}

/* Event menu define */
.event-menu
{
	height: 135px;
	padding: 0px;
	z-index: 15;
}

.event-menu > div.event-menu-item
{
	height: 100%;
	background-color: #63c7bf;
	margin-top: -90px;
	padding: 0px;
}

.button-menu
{
	height: 100%;
	width: 100%;
	background-color: #63c7bf;
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
}

.button-menu:hover, .button-menu:active, .button-menu:focus
{
	background-color: #ffd380;
}

.button-menu > span
{
	padding-top: 20px;
	font-size: 45px;
}

.button-menu > p
{
	white-space: normal;
	padding-top: 30px;
	color: #ffffff;
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
}
/* End define menu */

/* Conntent define */
.wrapper-content
{
	background-color: white;
	margin-top: -40px;
}

.content-item-1
{
	height: auto;
	background-color: white;
	color: black;
}

.content-item-1 > h1
{
	font-family: arial;
	font-weight: normal;
	font-size: 24px;
}

.gallery
{
	padding: 7px;
}

.banner
{
	background-color: #d1e0e0;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.closest-action
{
	min-height: 162px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 35px;
}

.closest-action > img
{
	float: left;
	padding-right: 20px;
}

.closest-action-title
{
	font-size: 15px;
}

.new-informations
{
	min-height: 50px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 35px;
}

.new-informations > p
{
	margin-left: 70px;
}

.new-informations > button
{
	float: left;
	margin-right: 20px;
}
/* End conntent define */

/* Footer define */
.footer-panel
{
	min-height: 300px;
	background-color: #63c7bf;
}

.footer-square
{
	padding: 20px;
}

.footer-square > p
{
	text-align: left;
	padding-top: 20px;
	padding-bottom: 0px;
	font-weight: bold;
}
.footer-copy
{
	min-height: 25px;
	background-color: #63c7bf;
}

.footer
{
	border-top: 2px ridge #b8f8f8;
}

.navigation
{
	padding-top: 10px;
	padding-left: 0px;
	list-style: none;
}

.navigation > li > a
{
	color: #ffffff;
}
/* End footer define */

p.copy
{
	font-size: 12px;
	color: #2b7d7d;
	margin: 0px;
	text-align: right;
}
